#image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 180px;
}

#infos {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 30px;
}